html, body, *{
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* grid-template-rows: max-content; */
  /* align-items: center; */
  height: 100vh;
}

img {
  /* max-height: 100vh; height: auto; width: auto; display: block; margin: auto; */
  max-height: 100vh;
}

section {
  position: relative;
}

.top {
  position: absolute;
  left: 0px;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}