:root {
  --debug-border: 0.01px;
  --debug-border: 0px;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 0px;
  align-content: center;
  text-align: center;
  /* background-color: white; */
  /* background-color: black; */
}

div {
  display: inline-block;
  position: relative;
  width: 46mm;
  height: 66mm;
  margin: 0.5mm;
  background-image: url("Play/CardFront.svg");
  background-size: cover;
  font-size: 10px;
}

div.back {
  width: 47mm;
  height: 67mm;
  margin: 0mm;
  background-image: url("Play/CardBackText.svg");
  background-size: cover;
}

div.chest {
  width: 40mm;
  height: 70mm;
  margin: 1mm;
}

div.backchest {
  width: 41mm;
  height: 71mm;
  margin: 0.5mm;
  background-image: url("Chest/ChestBack.svg");
  background-size: cover;
}

div.cover {
  width: 45mm;
  height: 70mm;
  margin: 1mm;
  background-image: url("Cover/Cover.svg");
  background-size: cover;
  text-align: left;
}

div.cover h1 {
  top: 4mm;
  text-align: center;
}

div.cover p {
  bottom: 3mm;
}

ol {
  padding-left: 2em;
  /* list-style: upper-roman; */
  list-style: "🖹 ";
  font-weight: bold;
}

ul {
  /* list-style: none; */
  list-style: disc;
  font-weight: normal;
  width: 95%;
}
ol>li {
  margin-top: 0.5em;
}
ul>li {
  line-height: 1.15em;
  margin: 0px;
  padding: 0px;
}

ol>table {
  width:110%;
  margin: 0;
  padding: 0;
  margin-left: -1.5em;
  font-weight: lighter;
  font-size: 9px;
}

td, tr {
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  font-size: 4mm;
  top: 10.5mm;
  font-family: "Kingthings Calligraphica 2";
  border: var(--debug-border) dotted black;
  /* font-family: "Calligraphica"; */
}

img {
  position: absolute;
  /* float: left; */
  /* right: 3mm; */
  transform-origin: left top;
}

p {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 4mm;
  border: var(--debug-border) dotted black;
  font-family: Arial;
}

span {
  display: inline-block;
  position: absolute;
  width: 7.8mm;
  height: 7.8mm;
  font-family: "Kingthings Calligraphica 2";
  font-size: 7mm;
  line-height: 6mm;
  border: 1px solid black;
  border-radius: 10mm;
}

span.small {
  width: 4mm;
  height: 4mm;
}

@font-face {
  font-family: "Calligraphica";
  src: url("../Font/Kingthings Calligraphica 2.ttf");
}